<div class="animated fadeIn">
<h1>Car company</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eos, adipisci molestias qui hic quo delectus sunt ea, culpa debitis officia! Ratione soluta nam exercitationem odit beatae officiis corporis similique sapiente! Odio deserunt impedit nulla tempore recusandae consequuntur at iste aperiam nobis dolor non consectetur, doloremque architecto consequatur iure ad ipsa expedita quae atque minus, unde aliquid aut omnis. Recusandae voluptates, asperiores quasi quas velit maxime illo repellendus facere. Excepturi natus non possimus odio pariatur impedit voluptatum animi sequi repudiandae nemo, ex eaque porro soluta, placeat nesciunt! Explicabo voluptatem, quae expedita eaque, doloremque similique corrupti dolor quidem animi voluptate quos.</p>
</div>
<div>
  <img src="../../assets/img/compania.jpg" alt="">
</div>
